<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokemonAPI Game</title>
    <script src="/tableLoad.js"></script>
    <link href="/styles.css" rel="stylesheet">
</head>

<body onload="loadBody()">
    <div id="container"></div>
</body>

</html>